@using Fiap.Exemplo02.MVC.Web.ViewModels
@model AlunoViewModel

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar Aluno</h2>

@if (Model.Mensagem != null)
{
    <div class="alert alert-success">
        @Model.Mensagem
    </div>
}

@Html.ValidationSummary() <!-- Todas as mensagens -->

@using (@Html.BeginForm())
{

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Nome)
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" }) <!--qualquer atributo do html, (arroba) é escape-->
                @Html.ValidationMessageFor(m => m.Nome)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.DataNascimento)
                @Html.TextBoxFor(m => m.DataNascimento, "{0:dd/MM/yyyy}", new { @class = "form-control" }) <!--qualquer atributo do html, (arroba) é escape-->
                @Html.ValidationMessageFor(m => m.DataNascimento)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.GrupoId)
                <!-- Primeira propriedade é onde ele vai setar o valor escolhido-->
                @Html.DropDownListFor(m => m.GrupoId, Model.Grupos ,"Selecione", new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Professores)
                <select name="ProfessoresId" class="selectpicker" multiple>
                    @foreach (var p in Model.Professores)
                    {
                        <option value="@p.Id">@p.Nome</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.CheckBoxFor(m => m.Bolsa) <!--qualquer atributo do html, (arroba) é escape-->
                @Html.LabelFor(m => m.Bolsa)
                @Html.ValidationMessageFor(m => m.Bolsa)
            </div>
        </div>
    </div>
    <div class="row desconto">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Desconto)
                @Html.TextBoxFor(m => m.Desconto, new { @class = "form-control" }) <!--qualquer atributo do html, (arroba) é escape-->
            </div>
        </div>
    </div>

            <input type="submit" value="Enviar" class="btn btn-primary" />
}

