@using Fiap.Exemplo02.MVC.Web.ViewModels
@model AlunoViewModel
@{
    ViewBag.Title = "Listar";
}

<h2>Listar Alunos</h2>

@if (Model.Mensagem != null)
{
    <div class="alert alert-success">
        @Model.Mensagem
    </div>
}

@using (Ajax.BeginForm("Buscar", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "tabela" ,InsertionMode = InsertionMode.Replace}, new { @class = "form-inline" , id = "formBusca"}))
{
    <div class="row">
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.NomeBusca, "", new { @class = "form-control", placeholder = "Digite um nome" })
        </div>
        <div class="col-md-3">
            @Html.DropDownListFor(m => m.idBusca, Model.Grupos, "Selecione um Grupo", new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <input type="submit" class="btn btn-primary" value="Buscar" />
        </div>
    </div>
}

<table class="table" id="listaAlunos">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Data Nascimento</th>
        <th>Bolsa</th>
        <th>Desconto</th>
        <th>Grupo</th>
        <th></th>
    </tr>

    <tbody id="tabela">
        @Html.Partial("_tabela", Model.Alunos)
    </tbody>
   
</table>

@Html.Partial("_ModalConfirmacao", Model.Alunos)


@section scripts
{
    <script>
        //encapsular pq as novas linhas não tem esse comportamento
        function someBotao() {
            $("#listaAlunos tr td .btn").css("visibility", "hidden"); //mantém o espaço ocupado pelo elemento
            $("#listaAlunos tr").hover(
                function () {
                    $(this).find("td .btn").css("visibility", "visible");
                },
                function () {
                    $(this).find("td .btn").css("visibility", "hidden");
                }
            );
        }

        $(document).ready(function(){
            $("#idBusca").change(function () {
               //seleciona form e faz submit
               $("#formBusca").submit();
            });

            someBotao();
        });
    </script>
}
